# Node modules
client/node_modules/
server/node_modules/

# Build outputs
client/.next/
server/dist/

# Env files
# client/.env
# server/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Optional: MacOS or editor files
.DS_Store
.vscode/